<section class="w3-card-8 col-md-12 w3-padding-left">
    <article class="w3-container w3-form w3-show-block">
        <header class="w3-container w3-blue w3-margin-top">
            <h4>Welcome to Bug Tracking System</h4>
        </header>
        <br>
<div class="w3-container w3-card">
    <h5><b><i>Brief Introduction About Bug Tracking System</i></b></h5>
</div>

        <main class="w3-form">
             <div class="col-md-12">
            <h5><b><i>Introduction:- </i></b></h5>
    <p> &nbsp;&nbsp;&nbsp; Hello First my introduction. My Name is <b><i>Karnav B Pargi.</i></b> This is My Project <b> Bug-Free Page </b></p>

            <h5 class="w3-text-white w3-btn w3-brown col-md-12"><b><i>Technology Used In My Project:- </i></b></h5>

            <div class="col-md-6 w3-card w3-example">
                <h5 class=" w3-card-8 w3-center">--: Front-End :--</h5>
                <br>
            <h5 class=" w3-text-blue"><b><i class="w3-text-red">1. AngularJS :- </i></b> <br><br> A Google's JavaScript Based Framework.
                <br><br>AngularJS extends HTML with new attributes.
                <br><br>
                AngularJS is perfect for Single Page Applications (SPAs).
                <br><br>
                AngularJS is easy to learn. </h5>

                <h5 class="w3-example w3-card-8 w3-center">--: Front-End :--</h5>
                <br>
                <h5 class=" w3-text-blue"><b><i class="w3-text-red">2. HTML5, BootStrap-3, W3.CSS :- </i></b>
                    <br><br> <b>HTML5:- </b>1. HTML is a markup language for describing web documents (web pages)
                    <br><br><b>2. Twitter-Bootstrap V-3:- </b>Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first web sites.
                    <br><br><b>3. W3.CSS:- </b> W3.CSS is a modern CSS framework with built-in responsiveness:
                    <br><br>1.Smaller and faster than other CSS frameworks.
                    <br><br>2. Easier to learn, and easier to use than other CSS frameworks.
                    <br><br>3. Uses standard CSS only (No jQuery or JavaScript library).
                    <br><br>4. Speeds up mobile HTML apps.
                    <br><br>5. Provides CSS equality for all devices. PC, laptop, tablet, and mobile:</h5>
            </div>
            <div class="col-md-6 w3-card w3-example">
                <h5 class=" w3-card-8 w3-center">--:Back-End :--</h5>
                <br>
            <h5 class=" w3-text-blue"><b><i class="w3-text-red">3. NodeJS :- </i></b> <br><br>1. Node.js is a server side platform built
                on Google Chrome's JavaScript Engine (V8 Engine).
                <br><br>2. Node.js is an open source, cross-platform runtime environment for developing server-side and networking applications.
                <br><br>3. Node.js applications are written in JavaScript, and can be run within the Node.js runtime on OS X, Microsoft Windows, and Linux.
                <br><br>4. Node.js also provides a rich library of various JavaScript modules which simplifies
                the development of web applications using Node.js to a great extent. </h5>

                <h5 class="w3-example w3-card-8 w3-center">--:Back-End :--</h5>
                <br>
                <h5 class=" w3-text-blue"><b><i class="w3-text-red">4. Node.js - Express Framework :- </i></b> <br><br>1. Express is a minimal and flexible Node.js web application framework
                    that provides a robust set of features to develop web and mobile applications.
                    <br><br>2. It facilitates a rapid development of Node based Web applications.
                    Following are some of the core features of Express framework:

                    <br><br>3. Allows to set up middlewares to respond to HTTP Requests.
                    <br><br>4. Defines a routing table which is used to perform different action based on HTTP Method and URL.
                    <br><br>5. Allows to dynamically render HTML Pages based on passing arguments to templates.
                </h5>
            </div>
        </div>
        </main>
    </article>
</section>
