<form class="col-md-offset-4 w3-form w3-animate-top col-md-5" novalidate>
  <div class="w3-card w3-margin col-md-10">
    <div class="w3-input-group">
      <legend class="w3-label w3-center w3-show-block w3-indigo">Add New Project</legend>
    </div>
    <div class="w3-input-group">
      <label for="" class="w3-label">Enter Project name</label>
      <input type="text" class=" w3-input w3-border" name="projectname" ng-model="projectname" autofocus required>
    </div>
    <div class="w3-input-group ">
      <label for="" class="w3-label">Enter Project version</label>
      <input type="text" class=" w3-input w3-border" name="projectversion" ng-model="projectversion" required>
    </div>

    <div class="w3-input-group">
      <label for="" class="w3-label">Description</label>
      <input type="text" class=" w3-input w3-border" name="projectdesc" ng-model="projectdesc" required>
    </div>
    <div class="w3-input-group ">
      <label for="" class="w3-label">Enter Project Type</label>
      <select class="w3-input w3-border" ng-model="projecttype" name="projecttype" required >
        <option value="">Project Type</option>
        <option value="Website">Website</option>
        <option value="mobileApp">Mobile App</option>
        <option value="Desktop Software">Desktop Software</option>
      </select>
    </div>
    <div class="w3-input-group w3-margin">
      <button class="w3-btn w3-green pull-right" ng-click="submit_Click()">&#10004; Add new Project</button>
    </div>
  </div>


</form>
