<section class="w3-container w3-animate-top col-sm-6 w3-margin">
    <div class="w3 w3-btn-block w3-teal" data-toggle="collapse" data-target="#demo">
        Project Bug List <span class="w3 pull-right">&#10010;</span></div>
    <div id="demo" class="collapse in">

        <table class="w3 w3-table">
            <thead>
                <tr>
                    <th>Bug Status</th>
                    <th>No.of Bugs</th>
                    <th>% of the Project</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w3-text-red">New</td>
                    <td>q</td>
                    <td>q</td>
                </tr>
                <tr>
                    <td class="w3-text-yellow">Confirmed</td>
                    <td>q</td>
                    <td>q</td>
                </tr>
                <tr>
                    <td style="color: green">Acknowledge</td>
                    <td>q</td>
                    <td>q</td>
                </tr>
                <tr>
                    <td style="color: blue">In Progress</td>
                    <td>q</td>
                    <td>q</td>
                </tr>
                <tr>
                    <td style="color: violet">Feedback</td>
                    <td>q</td>
                    <td>q</td>
                </tr>
                <tr>
                    <td style="color: orange">Resolved</td>
                    <td>q</td>
                    <td>q</td>
                </tr>
                <tr>
                    <td style="color: #8c8c8c">Closed</td>
                    <td>q</td>
                    <td>q</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<form action="" class="col-md-5 w3-margin w3-center  pull-right">
    <fieldset >
        <legend class="w3-show-block w3-center w3-indigo">SEVERITY</legend>
        <div class="col-md-5 w3-margin w3-show-block w3-card-8 ">
        <label for="" class="w3-label w3-show-block w3-red w3-wide">CRITICAL</label>
         <p><span class="w3-badge w3-large  w3-padding-large w3-white w3-text-red ">66</span></p>
        </div>
        <div class="col-md-5 w3-margin w3-card-8">
            <label for="" class="w3-label w3-deep-orange w3-wide w3-show-block">MAJOR</label>
            <p><span class="w3-badge w3-large w3-padding-large w3-white w3-text-deep-orange ">56</span></p>
        </div>
        <div class="col-md-5 w3-margin w3-card-8">
            <label for="" class="w3-label w3-orange w3-text-white w3-wide w3-show-block">MINOR</label>
            <p><span class="w3-badge w3-large w3-padding-large w3-white w3-text-orange ">95</span></p>
        </div>
        <div class="col-md-5 w3-margin w3-card-8 ">
            <label for="" class="w3-label w3-blue w3-wide w3-show-block">TRIVAL</label>
            <p><span class="w3-badge w3-large w3-padding-large w3-white w3-text-blue ">34</span></p>
        </div>
    </fieldset>
</form>